table {
    width: 100%;
  }

  .hv-100{
    // height: 100px;
  }

  :host ::ng-deep .mat-header-cell{
      color: #000 !important;
  }

  :host ::ng-deep .mat-cell{
      color: #000 !important;
  }

  /* :host ::ng-deep td.mat-cell{
    border-bottom-color: #beb8b8 !important;
  } */

  .table-container {
    position: relative;
    max-height: 400px;
    overflow-y: scroll;
  }

:host ::ng-deep  .card-header{
    border-radius: 3px;
    margin-top: -20px !important;
    padding: 15px;
  }

  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: green !important;
   }

   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: green !important;
  }

  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: green !important;;
  }

  :host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #000;
  }

//   .mat-form-field-appearance-outline .mat-form-field-outline {
//     color: #000;
// }

.mat-icon {
    transform: scale(2);
}

.mat-tablo td, th{
    min-width: 150px
}
.mat-tablo .td-small, .td-small{
    min-width: 50px !important;
}

.focus-cursor{
    cursor: pointer;
}
.focus-cursor:hover{
    color: #ff9000 !important;
}
.column{
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  width: 100%;
  margin: 3px;
  padding: 20px 20px
}
.row-open{
  background-color: #000000;
  color: #fff;
}
table.subtable{
  $margin-left: 23px;
  width: calc(100% - #{$margin-left});
  margin-left: $margin-left;
  td,th{
    &.center{
      text-align: center;
    }
    padding: 15px;
    border-bottom: 1px solid #beb8b8;
  }
}
