<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between top">
    <h1 mat-dialog-title>Groupe radius</h1>
    <button class="close text-white" mat-button (click)="onNoClick()">X</button>
</div>
<div mat-dialog-content>
    <div class="" fxLayout="row wrap">
        <form [formGroup]="formModal" class="form w-100">
            <div fxLayout="row wrap" fxLayoutGap="10px" fxFlex="100">
                <mat-form-field appearance="standard" fxFlex="100">
                    <mat-label>Nom groupe</mat-label>
                    <input matInput formControlName="groupename" name="groupename">
                    <mat-error *ngIf="formModal.controls.groupename.invalid">veuillez saisir le groupename</mat-error>
                </mat-form-field>
                <fieldset class="p-2 border border-grey" fxFlex="100">
                    <legend class="fs-title">Paramètre</legend>
                    <div fxLayout="row wrap">
                            <mat-form-field appearance="standard" fxFlex="100">
                                <mat-label>Attributs</mat-label>
                                <mat-select formControlName="attribut" name="attribut" placeholder="Veuillez choisir un attribut">
                                    <mat-option *ngFor="let item of listeAttributs" [value]="item">{{item.attribut}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="formModal.controls.attribut.invalid">veuillez saisir la clée</mat-error>
                            </mat-form-field>
                            <small *ngIf="seuilExist" class="alert-txt">
                                Cet attribut est déja sélectionner. Veuillez le changer!
                            </small>
                    </div>
                    <div class="pull-right">
                        <button (click)="addParamters()" [disabled]="formModal.controls.attribut.value == ''"
                        class="btn btn-success btn-sm rounded-0">Ajouter</button>
                    </div>
                </fieldset>
            </div>
        </form>
        <div class="table-container" fxFlex="100">
            <h3>Liste des paramètres</h3>
            <table class="table text-light">
                <tr>
                    <td>N°</td>
                    <td>Key</td>
                    <td>Type</td>
                    <td>Valeur</td>
                </tr>
                <tr *ngFor="let item of listParamters; let i = index">
                    <td>{{i+1}}</td>
                    <td>
                        <select name="item.key" (change)="changeAttribute(item,i)" class="form-control form-control-sm" [(ngModel)]="item.key">
                            <option *ngFor="let elt of listeAttributs" [value]="elt.attribut">
                                {{elt.attribut}}
                            </option>
                        </select>
                    </td>
                    <td>{{item.type}}</td>
                    <td>
                        <input type="text" *ngIf="item.key !== 'Expiration'" class="form-control form-control-sm"
                        [(ngModel)]="item.value" name="item.value">
                        <input type="date" *ngIf="item.key === 'Expiration'" class="form-control form-control-sm"
                        [(ngModel)]="item.value" name="item.value">
                    </td>
                    <td>
                        <mat-icon style="cursor: pointer; font-size: 30px;" (click)="listParamters.splice(i, 1)"
                        aria-hidden="false" title="Importer ressources" [inline]="true"
                        aria-label="Example delete_forever icon">delete_forever</mat-icon>
                            
                    </td>
                </tr>
                <tr *ngIf="listParamters.length==0">
                    <td class="text-center" colspan="7">Aucune donnée</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div mat-dialog-Modules fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-raised-button color="warn" (click)="onNoClick()">Annuler</button>
    <button mat-raised-button color="primary" type="submit" class="button"
    [disabled]="!formModal.valid" (click)="onSubmit(formModal.value)">Valider</button>
    <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Valider</button> -->
</div>