<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between top">
    <h1 mat-dialog-title>Formulaire comptes</h1>
    <button class="close text-white" mat-button (click)="onNoClick()">X</button>
</div>
<div mat-dialog-content>
    <form [formGroup]="formModal" (ngSubmit)="onSubmit(formModal.value)" class="form">
        <div fxLayout="row wrap" fxLayoutGap="10px">
            <mat-form-field appearance="standard" fxFlex="100">
                <mat-label>Compte</mat-label>
                <input matInput formControlName="compte" name="compte">
                <mat-error *ngIf="formModal.controls.compte.invalid">Veuillez saisir le libellé</mat-error>
            </mat-form-field>
            <mat-form-field appearance="standard" fxFlex="100" *ngIf="!data">
                <mat-label>Login</mat-label>
                <input matInput formControlName="login" name="login">
                <mat-error *ngIf="formModal.controls.login.invalid">veuillez saisir le login</mat-error>
            </mat-form-field>
            <mat-form-field appearance="standard" fxFlex="100">
                <mat-label>Mot de passe</mat-label>
                <input matInput type="password" formControlName="password" name="password">
                <mat-error *ngIf="formModal.controls.password.invalid">veuillez saisir le mot de passe</mat-error>
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-raised-button color="warn" (click)="onNoClick()">Annuler</button>
    <button mat-raised-button color="primary" type="submit" class="button"
    [disabled]="!formModal.valid" (click)="onSubmit(formModal.value)">Valider</button>
    <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Valider</button> -->
</div>