table {
  width: 100%;
}

.hv-100{
  // height: 100px;
}

:host ::ng-deep .mat-header-cell{
    color: #000 !important;
}

:host ::ng-deep .mat-cell{
    color: #000 !important;
}

:host ::ng-deep td.mat-cell{
  border-bottom-color: #beb8b8 !important;
}

.table-container {
  position: relative;
  max-height: 400px;
  overflow-y: scroll;
}

:host ::ng-deep  .card-header{
  border-radius: 3px;
  margin-top: -20px !important;
  padding: 15px;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: green !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: green !important;
} 

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: green !important;;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #000;
}

:host ::ng-deep .mat-select  .mat-select-value {
  color: #000;
}

//   .mat-form-field-appearance-outline .mat-form-field-outline {
//     color: #000;
// }

.mat-icon {
  transform: scale(2);
}

.mat-tablo td, th{
  min-width: 150px
}
.mat-tablo .td-small, .td-small{
  min-width: 50px !important;
}

.focus-cursor{
  cursor: pointer;
}
.focus-cursor:hover{
  color: #ff9000 !important;
}

::ng-deep .swal2-actions.swal2-styled {
border-radius: 0 !important;
margin: .3125em;
padding: .25em 1.1em !important;
box-shadow: none;
font-weight: 500;
}
.table-container{
  max-height: 800px
}