<div class="content">
    <div class="container-fluid bg-white">
        <div class="bg-white" fxLayout="row" fxLayout.xs="column">
            <div class="col-md-12 col-lg-12 col-xl-12">
                <mat-card class="bg-white hv-100 text-dark">
                    <div fxLayout="row" fxLayoutAlign="space-between center"
                        class="card-header bg-white card-header-primary">
                        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
                            <!-- <mat-form-field appearance="outline">
                                <mat-label class="text-dark">Code</mat-label>
                                <mat-select class="text-dark" [(ngModel)]="searchData.code"  name="code" placeholder="Veuillez choisir un code">
                                    <mat-option [value]="'prepaid'">Prepaid</mat-option>
                                    <mat-option [value]="'postpaid'">Postpaid</mat-option>
                                </mat-select>
                            </mat-form-field> -->
                            <mat-form-field appearance="outline">
                                <mat-label class="text-dark">Attribut</mat-label>
                                <mat-select class="text-dark" [(ngModel)]="searchData.attributId" name="attributId" placeholder="Veuillez choisir un attribut">
                                    <mat-option>Aucun</mat-option>
                                    <mat-option *ngFor="let item of listeAttributs" [value]="item.id">{{item.attribut}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" fxlayoutalign="space-between center">
                            <mat-icon (click)="rechercher()" class="focus-cursor mx-3" aria-hidden="false"
                                title="Rechercher" [inline]="true" aria-label="Example search icon">
                                search</mat-icon>
                            <mat-icon *ngIf="testMenu('CREER_TYPE_ATTRIBUT')" class="focus-cursor" (click)="openModal()" aria-hidden="false"
                                title="Nouveau" [inline]="true" aria-label="Example create_new_folder icon">
                                create_new_folder</mat-icon>
                        </div>
                    </div>
                    <mat-card-content class="bg-white" >
                        <div class="table-container">
                            <mat-accordion>
                            <mat-expansion-panel *ngFor="let item of listeType" (opened)="openAttributType(item,item.opened = true)"
                                (closed)="openAttributType(item,item.opened = false)">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="flex-basis">
                                        {{item.libelle}}
                                </mat-panel-title>
                                <!-- <mat-panel-description fxLayoutGap="10px">
                                    <mat-icon (click)="openModal(item)" class="focus-cursor"
                                        aria-hidden="false" title="modifier" [inline]="true"
                                        aria-label="Example mode icon">mode</mat-icon>
                                    <mat-icon class="focus-cursor" (click)="askBeforeDelete(item)"
                                        aria-hidden="false" title="Supprimer" [inline]="true"
                                        aria-label="Example delete_forever icon">delete_forever</mat-icon>
                                </mat-panel-description> -->
                            </mat-expansion-panel-header>
                            <table mat-table [dataSource]="item.children"
                                class="mat-tablo mat-elevation-z8 bg-white text-dark">
                                <!-- num Column -->
                                <ng-container matColumnDef="num">
                                    <th class="td-small" mat-header-cell *matHeaderCellDef> No. </th>
                                    <td class="td-small" mat-cell *matCellDef="let element;let i = index;"> {{i+1}} </td>
                                </ng-container>

                                <!-- attributId Column -->
                                <ng-container matColumnDef="attributId">
                                    <th mat-header-cell *matHeaderCellDef> Attribut </th>
                                    <td mat-cell *matCellDef="let element"> {{element.attribut}} </td>
                                </ng-container>

                                <!-- Code Column -->
                                <ng-container matColumnDef="code">
                                    <th mat-header-cell *matHeaderCellDef> Code </th>
                                    <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                                </ng-container>

                                <!-- value Column -->
                                <ng-container matColumnDef="type">
                                    <th mat-header-cell *matHeaderCellDef> Type </th>
                                    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                                </ng-container>

                                <!-- option Column -->
                                <ng-container matColumnDef="options">
                                    <th mat-header-cell *matHeaderCellDef> Option </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div fxLayout="row" fxLayoutAlign="space-around center">
                                            <mat-icon *ngIf="testMenu('MODIFIER_TYPE_ATTRIBUT')" class="focus-cursor" (click)="openModal(element)"
                                                aria-hidden="false" title="Importer ressources" [inline]="true"
                                                aria-label="Example mode icon">mode</mat-icon>
                                            <mat-icon *ngIf="testMenu('SUPPRIMER_TYPE_ATTRIBUT')" class="focus-cursor" (click)="askBeforeDelete(element)"
                                                aria-hidden="false" title="Importer ressources" [inline]="true"
                                                aria-label="Example delete_forever icon">delete_forever</mat-icon>
                                        </div>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="AttributsArrayColumn"></tr>
                                <tr mat-row *matRowDef="let row; columns: AttributsArrayColumn;"></tr>
                                <!-- <tr mat-footer-row  *ngIf="listeRessourcesDisruptive.length==0">
                                    <td colspan="28">Aucune donnée</td>
                                </tr> -->
                            </table>
                            <!-- <div *ngIf="listeTypeAttribut && listeTypeAttribut.length==0" class="w-100 text-center py-3">
                                Aucune donnée
                            </div> -->
                            </mat-expansion-panel>
                        </mat-accordion>
                            <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageIndex]="page.index"
                                [pageSize]="page.size" [length]="page.total" (page)="paginationChange($event)"
                                showFirstLastButtons></mat-paginator>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>